﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Memo._Default" %>
 
<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
 
    <%-- In this page we make the cards.--%>

    <asp:Panel ID="pnlLabel" runat="server" >
        <div class="mainGame" >
         <asp:ImageButton ID="Img1" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img2" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img3" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img4" runat="server"    OnClick="Img1_Click"  />
         
         <br />
         <asp:ImageButton ID="Img5" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img6" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img7" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img8" runat="server"    OnClick ="Img1_Click" />
        
         <br />
         <asp:ImageButton ID="Img9" runat="server"    OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img10" runat="server"   OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img11" runat="server"   OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img12" runat="server"   OnClick="Img1_Click"  />
         
         <br />
         <asp:ImageButton ID="Img13" runat="server"   OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img14" runat="server"   OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img15" runat="server"   OnClick="Img1_Click"  />
         <asp:ImageButton ID="Img16" runat="server"   OnClick="Img1_Click"  />
        </div>
       

    </asp:Panel> 
     
         <asp:ImageButton ID="firstClicked" runat="server" Width="125px" Height="125px" Visible="false"   />
         <asp:ImageButton ID="secondClicked" runat="server" Width="125px" Height="125px" Visible="false"   />
  

</asp:Content>

