﻿
 /*Writing with JavaScript in progressing...*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image:url(img/11.jpg)
    
}
.memory-game
{
    width: 475px;
    height:475px;
    display: flex;
    flex-wrap:wrap;
    border: 2px solid;
}

.memory-card{
    width: 25%;
    height:25%;
    position:relative;
    border: 2px solid white;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    border: 2px solid;
}
img{
    width:100px;
}

.memory-game{
    margin:0 auto;
}
